{
    "service_account_key_file": "packer/key.json.example",
    "folder_id":"b1gec5sm6gh6jllu2r6j",
    "source_image_family":"ubuntu-1604-lts",
    "ssh_username":"ubuntu",
    "use_ipv4_nat":"true"
}
