cloud_id = "b1gpcvncb49s9dplpb6o"
folder_id = "b1gec5sm6gh6jllu2r6j"
zone     = "ru-central1-a"
public_key_path = "~/.ssh/ubuntu.pub"
image_id = "fd8bstt380tn356livi1"
subnet_id = "e9be7qn5ajoi61siheer"
private_key = "~/.ssh/ubuntu"
inst_name  = "reddit-app"
app_disk_image = "fd8b31cvei47gnq2f70o"
db_disk_image= "fd8k5a2ol50v5fq1l4gf"
